altgraph==0.17
certifi==2020.12.5
chardet==4.0.0
docker==5.0.0
idna==2.10
prettytable==2.1.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2021.4
requests==2.25.1
six==1.15.0
termcolor==1.1.0
urllib3==1.26.4
wcwidth==0.2.5
websocket-client==0.58.0
